<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Cadastros - Projeto #2 Hiring Coders</title>

    <style type="text/css">
        @import url(../../css/responsiveTiny.css) (min-width:200px);
        @import url(../../css/responsiveSmall.css) (min-width:300px);
        @import url(../../css/style.css) (min-width:600px);
        @import url(../../css/responsiveBigger.css) (min-width:1024px);

        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        @import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body>
    <header class="header" id="header">
        <i class="fas fa-robot logo"></i>

        <nav class="menu" data-aos="fade" data-aos-duration="1000">
            <ul>
                <li><a href="../../index.html"">Cadastros</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="container_options" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
            <a href="../../index.html" class="default_a"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
            <h1 class="default_h1"><strong>Novo Produto</strong></h1>
            <form class="container_form" id="prod_form">
                <input type="number" id="id-prod" class="inputs" placeholder="Código do Produto"/>
                <input type="text" id="nome-prod" class="inputs" placeholder="Nome do Produto" required/>
                <input type="text" id="marca-prod" class="inputs" placeholder="Marca do Produto" />
                <input type="number" id="price-prod" class="inputs" placeholder="Preço do Produto" step="0.01" required/>
                <textarea id="descr-prod" cols="66" rows="4" class="inputs" placeholder="Descrição do Produto"></textarea>

                <input type="submit" id="submit" class="control-form" value="Cadastrar &#xf1d8"/>
				<input type="reset" id="reset" class="control-form" value="Limpar &#xf0e2"/>
            </form>

            <p id="result"></p>
        </div>
    </main>
    <footer id="footer">          
        <small> <i class="fas fa-code"></i> Developed with <i class="fas fa-coffee"></i> by vinecunha.</small>
        <div class="socials" data-aos="flip-up" data-aos-duration="1000" data-aos-anchor="#header"><a href="https://www.github.com/vinecunha" target="blank"> &#xf09b </a><a href="https://www.linkedin.com.br/in/vcmartins" target="blank">&#xf0e1 </a><a href="https://wa.me/5521979820741?text=Olá,%20meu%20amigo!" target="blank"> &#xf232 </a></div>
    </footer>
    <script type="text/javascript" src="../../js/script.js"></script>
    <script type="text/javascript" src="../../js/produtos.js"></script>
</body>
</html>